<span>
  {{#if name}}
  <a href="http://btobits.com/fixopaedia/fixdic50-sp2/tag_{{field}}_{{name}}.html" target="_newtab"><span class="fix-tag-name fix-primary">{{name}}</span></a>
  <span class="fix-secondary">(<span class="fix-tag-number">{{field}}</span>)</span>
  {{else}}
  <span class="fix-tag-number fix-primary">{{field}}</span>
  {{/if}}
  =
  {{#if enum}}
  <span class="fix-tag-enum fix-primary">{{enum}}</span>
  <span class="fix-secondary">(<span class="fix-tag-value">{{value}}</span>)</span>
  {{else}}
  <pre><span class="fix-tag-value fix-primary">{{value}}</span></pre>
  {{/if}}
</span>
