
html {
    padding: 0em;
}

.caption {
    box-shadow: hsla(0, 0%, 0%, 0.4) 0 0.2em 0.7em 0;
    background-color: hsl(0, 40%, 37%);
    padding: 0em 1em 0.5em 1em;
    margin: 0em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

body {
    display: block;
    font-family: Helvetica, sans-serif;
    padding: 0em;
    background-image: url(../images/noise.png);
    background-color: hsl(19, 88%, 60%);
    margin: 0em;
}

#main-view {
    margin: 0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

pre {
    background-color: white;
    margin: 0em;
    display: inline-block;
    overflow-x: visible;
}

.button {
    display: inline-block;
    color: white;
    font-family: Helvetica, sans-serif;
    size: 1.2em;

    /* background-color: hsl(14, 100%, 37%); */
    background-color: hsl(0, 40%, 37%);

    padding: 0.1em 0.9em;
    border-radius: 0.3em;
    text-decoration: none;
    margin-top: 0.5em;
}

.messages {
    padding: 0;
    text-indent: 0;
    display: inline;
    line-height: 2em;
    list-style-type: none;
}

.shadow-box {
    box-shadow: hsla(0, 0%, 0%, 0.4) 0 0.2em 0.7em 0;
    background-color: hsl(0, 100%, 100%);
    border-radius: 0.8em;
    margin-top: 0.5em;
    padding: 1em;
}

.message {
}

.input-form {
    line-height: 1.5em;
}

.formatted-message {
    display: block;
    padding: 0.5em;
    color: hsl(0, 0%, 20%);
    background-color: hsl(30, 100%, 92%);
    line-height: 1.3em;
    font-family: "Courier";
}

.fix-message {
    padding: 0em;
    background-color: hsl(0, 0%, 95%);
    list-style-type: none;
    font-weight: bold;
}

#separator::-webkit-input-placeholder, #fix-message::-webkit-input-placeholder {
    color: hsl(0, 100%, 76%);
    font-size: 0.9em;
    font-style: italic;
    font-family: Courier;
}

#separator::-moz-placeholder, #fix-message::-moz-placeholder {
    color: red;
    font-size: 0.9em;
    font-style: italic;
    font-family: Courier;
}

.edit {
    color: gray;
    border-color: hsl(0, 0%, 80%);

    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    font-family: Courier;
}

#separator {
    width: 50%;
}

#fix-message {
    width: 100%;
    height: 5em;
}

.title1 {
    /* color: hsl(28, 100%, 22%); */
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.title2 {
    color: hsl(0, 0%, 40%);
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
}

.fix-field-list, .fix-group-list {
    list-style-type: none;
}

.fix-primary {
    font-weight: bold;
}

.fix-secondary {
    color: gray;
    font-weight: normal;
}

.fix-tag-number {
    color: gray;
}

.fix-tag-name {
    color: hsl(212, 100%, 28%);
}

.fix-tag-value {
    color: black;
}

.fix-tag-enum {
    color: blue;
}

.fix-header, .fix-body, .fix-trailer {
    font-weight: bold;
}

.fix-group-name {
    color: brown;
    font-weight: bold;
}

.fix-error {
    color: red;
    font-weight: bold;
}

.plain-text {
    line-height: 1em;
    color: black;
    font-family: "Courier";
    font-weight: normal;
    background-color: hsl(30, 100%, 92%);
}
