
body {
    display: block;
    font-family: Helvetica, sans-serif;
    padding: 0em;
    background-image: url(../images/noise.png);
    background-color: hsl(19, 88%, 60%);
}

#main-view {
    margin: 0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

pre {
    background-color: white;
    margin: 0;
    display: inline-block;
    overflow-x: visible;
}

.collapse-button {
    color: #723600;
    font-family: Helvetica, sans-serif;
    size: 1.2em;

    padding: 0.15em;
    border-radius: 0.3em;
    background-color: hsl(25, 85%, 85%);
    text-decoration: none;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.collapse-button:hover {
    background-color: hsl(25, 93%, 93%);
}

.messages {
    padding: 0;
    text-indent: 0;
    display: inline;
    line-height: 2em;
    list-style-type: none;
}

.message {
    box-shadow: hsla(0, 0%, 0%, 0.4) 0 0.1em 0.5em 0;
    background-color: hsl(0, 100%, 100%);
    border-radius: 0.8em;
    margin-top: 0.5em;
    padding: 1em;
}

.input-form {
    line-height: 1.5em;
    box-shadow: hsla(0, 0%, 0%, 0.4) 0 0.1em 0.5em 0;
    background-color: hsl(255, 100%, 100%);
    border-radius: 0.8em;
    margin-top: 0.5em;
    padding: 1em;
}

.formatted-message {
    display: block;
    padding: 0.5em;
    color: hsl(0, 0%, 20%);
    background-color: rgb(255, 234, 213);
    line-height: 1.3em;
    font-family: "Courier New";
}

.fix-message {
    padding: 0em;
    background-color: hsl(0, 0%, 95%);
    list-style-type: none;
    font-weight: bold;
}

.edit {
    border: 1px solid hsl(0, 0, 0.8);
}

#fix-message {
    width: 100%;
    height: 7em;
}

.title1 {
    color: #723600;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.title2 {
    color: #723600;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
}

.fix-field-list, .fix-group-list {
    list-style-type: none;
}

.fix-primary {
    font-weight: bold;
}

.fix-secondary {
    color: gray;
    font-weight: normal;
}

.fix-tag-number {
    color: gray;
}

.fix-tag-name {
    color: hsl(212, 100%, 28%);
}

.fix-tag-value {
    color: black;
}

.fix-tag-enum {
    color: blue;
}

.fix-header, .fix-body, .fix-trailer {
    font-weight: bold;
}

.fix-group-name {
    color: brown;
    font-weight: bold;
}

.fix-error {
    color: red;
    font-weight: bold;
}

.plain-text {
    line-height: 1em;
    color: black;
    font-weight: normal;
    background-color: rgb(255, 234, 213);
}
